.bg {
    background-color: #483285;
}

.bggg {
    background-image: url('../images/mainbggg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  